---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import PostCard from '../components/PostCard.astro';
import Base from '../layouts/Base.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data?.pubDate.valueOf() - b.data?.pubDate.valueOf()
);

const projects = (await getCollection('projects')).sort(
	(a, b) => a.data?.date.valueOf() - b.data?.date.valueOf()
);
---

<Base>
		<main>
			<h1 class="title-font">Digital craftsman, creative developer.</h1>
			<p class="text-xl mb-72 mt-12 uppercase" style="text-wrap: balance;">
				My name is Giacomo Salici, I'm a <span class="highlight">developer</span> and <span class="highlight">engineer</span> based in Italy.
				Currently, I'm getting a Computer and AI Engineering master degree in Unimore.
			</p>
			
			<section class="grid gap-3 grid-cols-2">
				
					{
						posts.map((post) => (
						<PostCard description={post.data.description} pubDate={post.data.pubDate} title={post.data.title} slug={`/blog/${post.slug}/`} />
						))
					}
			</section>

			<section class="grid gap-3 grid-cols-2">
				
				{
					projects.map((post) => (
					<PostCard description={post.data.description} pubDate={post.data.pubDate} title={post.data.description} slug={`/projects/${post.slug}/`} />
					))
				}
		</section>
		
		</main>
</Base>