---
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";
import Base from "../layouts/Base.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => a.data?.pubDate.valueOf() - b.data?.pubDate.valueOf()
);

const projects = (await getCollection("projects"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .sort((a, b) => Number(b.data.featured.valueOf()) - Number(a.data.featured.valueOf()) )
  .filter((a) => a.data.draft!==false && a.data.hidden!=true);

const works = (await getCollection("projects"))
  .sort((a, b) => -a.data?.pubDate.valueOf() + b.data?.pubDate.valueOf())
  .filter((a) => a.data.draft!==false && a.data.type==='work');
---

<Base>
  <main>
    <h1 class="text-6xl md:text-[8vw] lg:text-[6.5vw] xl:text-[6vw] 2xl:text-[5em] font-extrabold">
      <span class=" inline-block">Digital craftsman,</span> <span class="inline-block">creative developer.</span> 
    </h1>
    <div class="flex gap-2 my-5 lg:my-12 items-center lg:items-end">
      <p class="lg:text-xl font-medium" style="text-wrap: balance;">
        My name is Giacomo Salici, I'm a developer and engineer based in Italy. Currently, I'm
        getting a Computer and AI Engineering master degree at <a class="link" href="https://www.unimore.it">Unimore</a>.
      </p>
      <div class="space-y-2 ">
        <a class="block" target="_blank" rel="noopener" href="https://github.com/jacksalici" aria-label="github"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
        <a class="block" target="_blank" rel="noopener" href="https://linkedin.com/in/jacksalici" aria-label="linkedin"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
        <a class="block" target="_blank" rel="noopener" href="mailto:hey@jacksalici.com" aria-label="email"><i class="fa-solid fa-envelope" aria-hidden="true"></i></a>
      </div>
    </div>
    

    <div
      class="h-2 mb-32 lg:mb-72 bg-gradient-to-r from-blue via-pink to-yellow rounded"
    >
    </div>

    <h2>
      Current projects.
    </h2>
    <section class="grid gap-4 md:grid-cols-2 ">
      <PostCard
        description="Formula Student"
        pubDate={new Date("15 oct 2023")}
        title="Formula Student"
        summary="Global trajectory optimization with the university driverless team."
      />
      <PostCard
        description="Advent of Code"
        pubDate={new Date("1 dec 2023")}
        title="Advent of Code"
        summary="Well known daily programming puzzles"
      />
    </section>
    <h2 id="p">
      Featured projects.
    </h2>
    <section>
      {projects.map((post) => <PostCard title={post.data.description} pubDate={post.data.pubDate} slug={"/p/"+post.slug} categories={post.data.categories} summary={post.data.summary} featured={post.data.featured} trending={post.data.trending}/>)}
    </section>

    <h2 id="b">Last thoughts.</h2>
    <section>
      {posts.map((post) => <PostCard title={post.data.description} pubDate={post.data.pubDate} summary={post.data.summary} slug={"/b/"+post.slug} />)}
    </section>


    <h2 id="contacts">Contact me.</h2>
    <p>
      You can reach me saying <code>hey AT jacksalici DOT com</code>.<br/>
      You can also find me almost everywhere with the username <i>@jacksalici</i>.
      <div class="space-x-2 py-3">
        <a target="_blank" rel="noopener" href="https://github.com/jacksalici" aria-label="github"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
        <a target="_blank" rel="noopener" href="https://linkedin.com/in/jacksalici" aria-label="linkedin"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
        <a target="_blank" rel="noopener" href="mailto:hey@jacksalici.com" aria-label="email"><i class="fa-solid fa-envelope" aria-hidden="true"></i></a>
        <a target="_blank" rel="noopener" href="https://t.me/jacksalici" aria-label="telegram"><i class="fa-brands fa-telegram" aria-hidden="true"></i></a>
        <a target="_blank" rel="noopener" href="https://instagram.com/jacksalici" aria-label="instagram"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
        <a target="_blank" rel="noopener" href="https://twitter.com/jacksalici" aria-label="twitter"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
      </div>
      </p>
  </main>
</Base>
<style>
  [class*="fa"] {
    @apply text-3xl opacity-50 hover:opacity-100 transition-all hover:-translate-y-2
  }

  h2 {
    @apply text-3xl font-extrabold mb-5 mt-14
  }

  section {
    @apply grid gap-3 md:grid-cols-2
  }


</style>
