---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";



const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description = "I am a M.Sc. Computer and AI Engineering student based in Modena, Italy. I develop and design AI projects and cool app.",
  image = "/website.jpg",
  keywords = [
    "computer engineer",
    "jack salici",
    "giacomo salici",
    "developer",
    "digital craftsman",
  ],
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title ? title + " ~ By Jack." : "Jack's website"}</title>
<meta
  name="title"
  content={title
    ? title + " ~ By Giacomo Salici"
    : "Giacomo Salici ~ Creative developer, digital craftsman."}
/>
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta
  property="og:title"
  content={title
    ? title + " ~ By Giacomo Salici"
    : "Giacomo Salici ~ Creative developer, digital craftsman."}
/>
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta name="keywords" content={keywords.join(", ")} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta
  property="twitter:title"
  content={title
    ? title + " ~ By Giacomo Salici"
    : "Giacomo Salici ~ Creative developer, digital craftsman."}
/>
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
/>
