---
import FormattedDate from "../components/FormattedDate.astro";

type Props = {
  title?: string;
  pubDate?: Date;
  description?: string;
  slug?: string;
  summary?: string;
  categories?: string[];
  featured?: Boolean;
  trending?: Boolean;
  cta?: string[];
  location?: string;
  authors?: string;
  venue?: string;
};

const { ...props } = Astro.props;
const MyA = props.slug ? 'a': 'div' 
---

<MyA
  class:list={["group max-w-full", {" cursor-pointer transition-all": props.slug}]}
  href={props.slug}
>

  
  <div class="w-full">
    <p 
    class:list={["", {"group-hover:text-yellow": props.slug && !props.featured && !props.trending, 
    "group-hover:text-blue": props.slug && props.trending, "group-hover:text-pink": props.slug && props.featured && !props.trending }]}
    >
    <span class:list={["", {"text-pink": props.featured && !props.trending,  "text-blue": props.trending}]}>—</span>
    {props.title} {props.summary}
    {props.authors && <span class="text-xs">~ {props.authors}</span>}
    {props.venue && <span class="text-xs font-bold">~ {props.venue}</span>}
    {props.pubDate && 
      
        <span class="text-xs ">
        <FormattedDate date={props.pubDate} />
        </span>
  }
    
  </p>
    
    {props.cta && 
      <a href={props.cta[1]} class="bg-blue hover:bg-opacity-70 text-base-100 hover:border-neutral-content border hover:underline border-blue rounded-md text-sm p-2 ">
        
        {props.cta[0]}</a>
    }
  </div>
</MyA>
