---
import FormattedDate from "../components/FormattedDate.astro";

type Props = {
  title?: string;
  pubDate?: Date;
  description?: string;
  slug?: string;
  summary?: string;
  categories?: string[];
  featured?: Boolean;
  trending?: Boolean;
  cta?: string[];
  location?: string;
  authors?: string;
  venue?: string;
  unavailable?: boolean;
};

const { ...props } = Astro.props;
const MyA = props.slug ? 'a': 'div' 
---

<MyA
  class:list={["group max-w-full rounded-lg border border-transparent px-3 py-2 transition-all hover:border-base-300 hover:bg-base-100 hover:shadow-sm", {" cursor-pointer": props.slug}]}
  href={props.slug}
>

  
  <div class="w-full">
    <p 
    class:list={["", {"group-hover:text-accent-1": props.slug && !props.featured && !props.trending, 
    "group-hover:text-accent-2": props.slug && props.trending, "group-hover:text-accent-3": props.slug && props.featured && !props.trending,
    "opacity-70": props.unavailable
     }]} 
    >
    <span class:list={["", {"text-accent-3": props.featured && !props.trending,  "text-accent-2": props.trending}]}>—</span>
    <span class:list={[{"line-through": props.unavailable == true}]}>{props.title}</span> {props.summary}
    {props.authors && <span class="text-xs">~ {props.authors}</span>}
    {props.venue && <span class="text-xs font-bold">~ {props.venue}</span>}
    {props.pubDate && 
      
        <span class="text-xs ">
        <FormattedDate date={props.pubDate} />
        </span>
  }
    
  </p>
    
    {props.cta && 
      <a href={props.cta[1]} class="inline-flex items-center justify-center rounded-lg bg-accent-2 hover:bg-accent-2/80 text-base-100 border border-accent-2 hover:border-accent-2/80 text-sm px-3 py-1.5 mt-2 font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-base-content">
        
        {props.cta[0]}</a>
    }
  </div>
</MyA>
