---
//credit https://github.com/MaeWolff/astro-portfolio-template/blob/main/src/components/PostCard.astro
import FormattedDate from "../components/FormattedDate.astro";

type Props = {
  title?: string;
  pubDate?: Date;
  description?: string;
  slug?: string;
  summary?: string;
  categories?: string[];
  featured?: Boolean;
  trending?: Boolean;
};

const { ...props } = Astro.props;
---

<a
  class:list={["group flex max-w-full relative gap-2 py-4 md:p-4 rounded-2xl", {" cursor-pointer transition-all transition-300 hover:-translate-y-2 hover:bg-black": props.slug}]}
  href={props.slug}
>
  <div class="flex flex-col gap-1">
    {!props.slug && <span class="block material-symbols-rounded text-pink"> horizontal_rule </span>}
    {props.slug && <span class="block material-symbols-rounded transition-all group-hover:translate-x-1 text-pink"> arrow_outward </span>}
    {props.featured && <span class="block material-symbols-rounded text-yellow transition-all group-hover:scale-75">kid_star</span>}
    {props.trending && <span class="block material-symbols-rounded text-blue transition-all scale-90 group-hover:-translate-x-2">thumb_up</span>}

  </div>
  <div class="flex w-full flex-col gap-2">
    <p class="opacity-50 text-sm">
      <FormattedDate date={props.pubDate} />
      {props.categories &&  ( <span>~ </span> <span class="font-bold">{props.categories}</span>)}
    </p>
    <p class="uppercase font-semibold">{props.title}</p>
    <p class="">
      {props.summary}
    </p>
  </div>
</a>
