---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import Base from "../../layouts/Base.astro";

const projects = (await getCollection("projects"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .sort(
    (a, b) =>
      Number(b.data.featured.valueOf()) - Number(a.data.featured.valueOf())
  )
  .filter((a) => a.data.draft !== false && a.data.hidden != true);

const activities = (await getCollection("activities"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .sort(
    (a, b) =>
      Number(b.data.featured.valueOf()) - Number(a.data.featured.valueOf())
  )
  .filter((a) => a.data.draft !== false && a.data.hidden != true);

const props = {image: '/website.png'}
---

<Base image = {props.image} >
  <main>
   
     
    <h1 class="mb-4 text-4xl">Ongoing activities</h2>
      <p class="mb-6 text-xs text-neutral-content">
        Projects I am currently working on. <br>They might become public or become future publications, or not.
      </p>
    <section  class="grid gap-6 mb-12">
      {
        activities.map((single) => (
          <PostCard
            title={single.data.title}
            pubDate={single.data.pubDate}
            categories={single.data.categories}
            slug={"/activities/" + single.slug}
          />
        ))
      }
      
    </section>
    <h1 id="projects" class="mb-1 text-4xl">Featured projects</h1>
    <p class="mb-6 text-md text-neutral-content">
      
      <section class="grid gap-6 md:grid-cols-1 mb-12 mt-4">
        {
          projects.map((single) => (
            <PostCard
              title={single.data.description}
              pubDate={single.data.pubDate}
              slug={"/projects/" + single.slug}
              categories={single.data.categories}
              summary={single.data.summary}
              featured={single.data.featured}
              trending={single.data.trending}
            />
          ))
        }
      </section>

  
  </main>
 
</Base>