---
import '@fontsource-variable/space-grotesk';
import '@fontsource/space-mono';
import "../styles/global.css";

import { Pizza, Heart, Earth } from '@lucide/astro';


import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
const { ...props } = Astro.props;
const today = new Date();
const pathname = new URL(Astro.request.url).pathname;


---

<html lang="en" transition:animate="none">

  <head>
    <BaseHead title={props.title},
    description={props.description}
    image = {props.image}
    keywords = {props.keywords} />

      <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  </head>

  <body
    class="m-0 text-base-content font-body bg-base-100 flex flex-col gap-4 lg:gap-10 min-h-screen"
  >
    {props.hideHeader !== true && <Header />}
    <slot/>
    {props.hideFooter !== true && 
    <footer class="mt-auto p-4 text-neutral group select-none">
      <p class="md:text-center mb-1 text-xs *:inline flex items-center justify-center gap-1">
        2013 - {today.getFullYear()} &copy; Giacomo Salici. Digital craftsman, creative AI engineer. <nobr>Made with <Heart class="inline w-4 h-4 mb-1" /> and <Pizza class="inline w-4 h-4 mb-1" /> on <Earth class="inline w-4 h-4 mb-1" />.</nobr>
      </p>
    </footer>
    }

  <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  </body>
</html>
