---
import Base from "./Base.astro";

const { frontmatter } = Astro.props;
const titleClass = frontmatter.title.length > 50 ? 'text-4xl' : 'text-5xl';

---

<Base
  title={frontmatter.title},
  description={frontmatter.description},
  tags={frontmatter.tags},
  image={frontmatter.cover}
>
  <main>
    

    <div class="mt-5 mb-16 text-center">
      <h1 class={`${titleClass} text-balance`}>{frontmatter.title}</h1>
    </div>

 

    <div
    class="prose mb-10 prose-img:mx-auto prose-strong:text-base-content prose-p:text-base-content prose-headings:text-neutral-content prose-a:text-neutral-content prose-ul:text-neutral-content max-w-xl prose-p:text-justify prose-p:hyphens-auto mx-auto"
  >
  {
    frontmatter.summary &&
    <div class="bg-base-content rounded-xl text-base-content font-display text-xl p-5 mb-8 md:-mx-8">
      {frontmatter.summary}
    </div>
  }
  {
    frontmatter.translateLink &&
    <div class="text-xs text-neutral-content opacity-50 not-prose mb-8">
      <span class="inline-block !leading-none">English is not your strongest language?</span>
      <span class="inline-block !leading-none">🇮🇹 Read the machine-translated <a class="underline" href={"https://jacksalici-com.translate.goog" + frontmatter.url + "/?_x_tr_sl=en&_x_tr_tl=it&_x_tr_hl=en&_x_tr_pto=wapp"}> Italian version</a>.</span>
      </div>
  }  
    <slot />
  </div>

  </main>

 
</Base>
