---
import FormattedDate from '../components/FormattedDate.astro';
import Base from './Base.astro';

const { ...props } = Astro.props;
---
	<Base title={props?.title}, description={props?.description}, tags={props?.tags}, image={props?.cover}>
		<main>
			
			<div class="max-w-3xl mx-auto flex flex-col md:flex-row gap">		
				<div>
					<div class="opacity-50 mb-3">
						{props.pubDate && <FormattedDate date={props.pubDate} />}{
							props.updatedDate && (
								<span class="italic">
									~ Updated on <FormattedDate date={props.updatedDate} />
								</span>
							)
						}{
							props.categories && (
								<span class="">
									~ {props.categories.join(', ')}
								</span>
							)
						}{
							props.langs && (
								<span class="">
									~ Built using {props.langs.join(', ')}
								</span>
							)
						}
					</div>
					<h1 class="text-4xl font-bold" style="text-wrap:balance">{ props.title}</h1>
					<p class="text-lg">{props.summary}</p>
				</div>
				
			</div>
			<div class="h-2 my-7 mb-10 bg-gradient-to-r from-blue via-pink to-yellow rounded"></div>

			<div class="max-w-3xl  mx-auto ">

					
					

				
				<div class="prose prose-invert">
					<slot />
				</div>
				
			</div>
		</main>
	</Base>
			
		